body {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-align: start;
    color: white;
    word-wrap: break-word;
    background-color: grey;
    float: left;
}
ul {
    padding: 0;
    list-style-type: none;
}
li {
    /*padding: 0.5em 0.5em;*/
}
div {
    box-sizing: border-box;
}
button {
    padding: .75em 1.5em;
    color: white;
    background-color: #665552;
    border: none;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 0;
}
div.cards {
    display:flex;
}
div.cards div {
    position: relative;
    border: solid;
    border-width: 0.75em;
    border-color: grey;
    padding: 0.5em;
}
.title {
    text-align: center;
}
.card {
    width: 33%;
    flex: 1;
}
.left-col {
    background-color:  #ae9691;
}
.center-col {
    background-color: #ae9691;
}
.right-col {
    background-color:  #ae9691;
}