body {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0.5em;
    text-align: start;
    color: white;
    word-wrap: break-word;
    background-color: #615491;
    float: left;
}
ul {
    padding: 0;
    list-style-type: none;
}
li {
    /*padding: 0.5em 0.5em;*/
}
div {
    box-sizing: border-box;
}
button {
    padding: .75em 1.5em;
    color: white;
    background-color: #5C4B99;
    border: none;
    text-decoration: none;
    position: absolute;
    bottom: 10px;
    left: 10px;

}
div.cards {
    display:flex;
}
div.cards div {
    position: relative;
    border: solid;
    border-width: 0.75em;
    border-color: #615491;
    padding: 1em;
    padding-bottom: 50px;
}
.title {
    text-align: center;
}
.card {
    width: 33%;
    flex: 1;
    position: relative;
    background-color:  #8076a3;

}
.left-col {
}
.center-col {
}
.right-col {
}