server:
  port: 8082
spring:
  config:
    # Local development properties outside version control
    import: optional:classpath:local.yml
  security:
    oauth2:
      client:
        provider:
          spring:
            issuer-uri: http://gatekeeper:9000
        registration:
          nightfly:
            provider: spring
            client-id: nightfly
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_basic
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope: batches.read,batches.write,recipes.read,recipes.write,taps.read,taps.write,openid,profile
#          simpleclient-oidc:
#            provider: spring
#            client-id: nightfly
#            client-secret: nightfly
#            redirect-uri: "http://127.0.0.1:8082/login/oauth2/code/{registrationId}"
#            redirect-uri: "http://127.0.0.1:8082/authorized"
#            authorization-grant-type: authorization_code
#            client-authentication-method: client_secret_basic
#            scope: batches.read,batches.write,recipes.read,recipes.write,taps.read,taps.write,openid,profile
#          simpleclient-authorization-code:
#            provider: spring
#            client-id: simpleclient
#            client-secret: simpleclient
#            redirect-uri: "http://127.0.0.1:8082/authorized"
#            authorization-grant-type: authorization_code
#            client-authentication-method: client_secret_basic
#            scope: batches.read,openid,profile