spring:
  web-application-type: none
  config:
    # Local development properties outside version control
    import: optional:classpath:local.yml
  threads:
    virtual:
      enabled: true
  security:
    oauth2:
      #client:
      #  provider:
      #    spring:
      #      issuer-uri: http://gatekeeper:9000
      #  registration:
      #    nightfly:
      #      provider: spring
      #      client-id: nightfly
      #      authorization-grant-type: authorization_code
      #      client-authentication-method: client_secret_basic
      #      redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
      #      scope: batches.read,batches.write,recipes.read,recipes.write,taps.read,taps.write,openid,profile
      resourceserver:
        jwt:
          issuer-uri: http://gatekeeper:9000
cron:
  runner:
    enabled: false
supabase:
  url: ${SUPABASE_URL}
  anon: ${SUPABASE_ANON_KEY}
  jwt_secret: ${SUPABASE_JWT_SIGNER}
