logging:
  level:
    org.springframework.jdbc.core: TRACE
spring:
  config:
    # Local development properties outside version control
    import: optional:classpath:local.yml
  datasource:
    driver-class-name: org.h2.Driver
    jdbc-url: jdbc:h2:mem:nightfly;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;MODE=MariaDB;INIT=RUNSCRIPT FROM 'classpath:h2init.sql'
    username: sa
    password:
  # legacy
  r2dbc:
    url: r2dbc:h2:mem:///~/db/nightfly?options=DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;MODE=MariaDB&INIT=RUNSCRIPT%20FROM%20'classpath:h2init.sql'
    username: sa
    password:
    database: nightfly
pagination:
  batch:
    pageSize: 20
authentication:
  enabled: false
web:
  cors:
    allowedOrigins:
     - "http://127.0.0.1:5500"
     - "http://127.0.0.1:3000"
    allowedOethods: GET, POST, PATCH, PUT, DELETE, OPTIONS, HEAD
    maxAge: 3600
redis:
  host: localhost
  port: 6379
