spring:
  web-application-type: reactive
  r2dbc:
    #driver-class-name: org.mariadb.r2dbc.Driver
    url: r2dbc:mariadb://${DATABASE_HOST:localhost}:3306/nightfly
    host: ${DATABASE_HOST:localhost}
    database: nightfly
    port: 3306
    username: ${DB_USER:nightfly}
    password: ${DB_PASS:nightfly}
paging:
  batch:
    pageSize: 10
  #datasource:
  #  driver-class-name: org.mariadb.jdbc.Driver
  #  jdbc-url: jdbc:mariadb://${DATABASE_HOST:localhost}:3306/nightfly
  #  username: ${DB_USER:nightfly}
  #  password: ${DB_PASS:nightfly}