spring:
  datasource:
    driver-class-name: org.h2.Driver
    jdbc-url: jdbc:h2:mem:nightfly;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;MODE=MariaDB;INIT=RUNSCRIPT FROM 'classpath:h2init.sql'
    username: sa
    password:
logging:
  level:
    com:
      zaxxer:
        hikari:
          HikariDataSource: DEBUG
    org:
      springframework:
        jdbc:
          transaction: DEBUG
          datasource: DEBUG
          core:
            JdbcTemplate: DEBUG
          orm:
            jpa:
              JpaTransactionManager: DEBUG
