.card {
    border: 1px solid hsl(0, 1%, 37%);
    box-shadow: 5px 5px 5px black;
    background-color: #3d291150;
    padding: 20px;
    margin: 20px;
    border-radius: 10%;
    text-align: center;
    max-width: 300px;
    display: inline-block;
}
.card .cardimage {
    border-radius: 30%;
    box-shadow: 0 0 8px 8px #242424 inset;
    margin-bottom: 10px;
}

.card .cardtitle {
  color: rgba(255, 255, 255, 0.87);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.card .cardtext {
  color: rgba(199, 193, 193, 0.87);
  font-family: Arial, Helvetica, sans-serif;
}


.nav {
  background-color: rgb(47, 47, 47);
  color: white;
  display: flex;
  align-items: center;
  padding: 0 10px;  
}

.nav a {
  color: inherit;
}

.nav ul {
  list-style: none;
}

.nav li {
  font-size: 1.2rem;
}