.card {
    border: 1px solid hsl(0, 1%, 37%);
    box-shadow: 5px 5px 5px black;
    background-color: #3d291150;
    padding: 20px;
    margin: 20px;
    border-radius: 10%;
    text-align: center;
    max-width: 300px;
    display: inline-block;
    white-space: pre-wrap;
}


.card .cardimage {
    border-radius: 30%;
    box-shadow: 0 0 8px 8px #242424 inset;
    margin-bottom: 10px;
    margin-top: 10px;
    opacity: 0.5;
}

.cardhighlight {
    box-shadow: 6px 6px 10px #cc713c;
}

.cardhighlight .cardimage {
    opacity: 1;
    box-shadow: 0 0 1px 1px rgb(255, 255, 255);
}

.card .cardtitle {
  color: rgba(122, 122, 122, 0.87);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.card .cardtext {
  color: rgba(122, 122, 122, 0.87);
  font-family: Arial, Helvetica, sans-serif;
}

.card .cardnumber {
  color: rgba(255, 255, 255, 0.87);
  font-family: Arial, Helvetica, sans-serif;
}
.card .cardtexthighlight {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 10px;
}


.navbar {
  background-color: rgb(47, 47, 47);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;  
}
.navbar img {

  padding: 16px;
}
.navlist {
  display: flex;
}
.navlist ul {
  list-style: none;
}

.navbar a {
  color: inherit;
}

.navbar ul {
}

.navbar li {
  font-size: 1.2rem;
  float: left;
  padding: 16px;
}