body {
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  justify-content: center;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 90vh;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  font-size: 1rem;
  margin: 0 20px 10px 20px;
  margin-bottom: 10px;
  padding-left: 25%;
  padding-top: 5px;
  padding-bottom: 5px;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

ul li:hover,
ul a.active {
  color: white;
  background: #3a3a3a;
  text-decoration: inherit;
}

header {
  display:block;
  background-color: #3d291150;
  box-shadow: inset 0 -30px 20px #1d130850;
  border-style: none none solid none;
  border-color: grey;
  border-width: 0px;
}

header img {
  margin: 20px;
  height: 50px;
}

header img:hover {
  cursor: pointer;
}

.sidebar {
  background-color: #26190a50;
  display: inline;
  box-shadow: inset 0 15px 60px #00000050;
  position: absolute;
  border-style: none solid none none;
  border-color: black;
  border-width: 2px;
  height: 95vh;
  width: 200px;
  left: -100%;
  transition: all 1s;
  padding-top: 30px;
}
.sidebar.active {
  left: 0;
}

.recipecard {
  position: relative;
  border: 1px solid hsl(0, 1%, 37%);
  box-shadow: 5px 5px 5px black;
  background-color: #3d291150;
  padding: 20px;
  margin: 20px;
  border-radius: 10%;
  text-align: center;
  max-width: 300px;
  display: inline-block;
  white-space: pre-wrap;
  color: rgba(255, 255, 255, 0.87);
  font-family: Arial, Helvetica, sans-serif;
}
.recipecard img {
  border-radius: 30%;
  box-shadow: 0 0 8px 8px #242424 inset;
  margin-bottom: 10px;
  margin-top: 10px;
}
.recipecard h2 {
  margin: 0;
}

.card {
    position: relative;
    border: 1px solid hsl(0, 1%, 37%);
    box-shadow: 5px 5px 5px black;
    background-color: #3d291150;
    padding: 20px;
    margin: 20px;
    border-radius: 10%;
    text-align: center;
    max-width: 300px;
    display: inline-block;
    white-space: pre-wrap;
}


.card .cardimage {
    border-radius: 30%;
    box-shadow: 0 0 8px 8px #242424 inset;
    margin-bottom: 10px;
    margin-top: 10px;
    opacity: 0.5;
}
.card .btn {
  position: absolute;
  color:lightgray;
  bottom: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size:x-large;
}


.cardhighlight {
    box-shadow: 6px 6px 10px #cc713c;
}

.cardhighlight .cardimage {
    opacity: 1;
    box-shadow: 0 0 1px 1px rgb(255, 255, 255);
}

.card .cardtitle {
  color: rgba(122, 122, 122, 0.87);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.card .cardtext {
  color: rgba(122, 122, 122, 0.87);
  font-family: Arial, Helvetica, sans-serif;
}

.card .cardnumber {
  color: rgba(255, 255, 255, 0.87);
  font-family: Arial, Helvetica, sans-serif;
}
.card .cardtexthighlight {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 10px;
}


.navbar {
  background-color: rgb(47, 47, 47);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;  
}
.navbar img {

  padding: 16px;
}
.navlist {
  display: flex;
}
